
@use "sass:meta";
@use '../base/_mixins.scss' as _mixins;


.component-list-frame,
.component-form-frame {
  border: solid 1px #000;
  background-color: rgba(0,0,0,0.95);
  padding: 0.5rem;

  .component-form {
    display: flex;
    flex-direction: column;
  }

  //-----------  
  .component-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;

    .component-list-header-title {
      font-size: 1.4rem;
      font-weight: bold;
    }
  }

  .component-list-items {
    max-height: 600px;
    overflow-y: auto;
    @include _mixins.scrollbars;

    .component-list-item {
      border: solid 1px #333;
      background-color: rgba(0,0,0,0.25);
      padding: 0.5rem;
      margin: 0.25rem 0;
      cursor: pointer;
      &.selected {
        background-color: rgba(0,100,0,0.25);
        border-color: rgba(0,100,0,0.5);
      }

      .component-item-header {
        display: flex;
        justify-content: space-between;
      }

      .component-item-description {
        background-color: rgba(0,0,0,0.25);
        white-space: pre-wrap;
        max-height: 250px;
        padding: 0.5rem;
        margin: 0.25rem;
        font-size: 0.8rem;
        overflow-y: auto;
        @include _mixins.scrollbars;
        line-height: 1.3rem;
      }

      .component-item-buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }

}