
@use "sass:meta";
@use '../base/_mixins.scss' as _mixins;

// imputs  ===============================================
select,
textarea,
input[type=text] {
  display: block;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  border: solid 1px #777;
  padding: 10px;
  border-radius: 10px;
  font-size: 0.8rem;

  &::placeholder {
    color: #777;
  }

  &:disabled {
    color: #777;
    border: solid 1px #333;
    cursor: not-allowed;

    &::placeholder{
      color: #333;
    }
  }

}

textarea {
  resize: vertical;
  line-height: 1.5rem;
  @include _mixins.scrollbars;
}

.word-counter {
  text-align: right;
  padding: 0 3px;
  font-size: 0.7rem;
}

// buttons ===============================================

button {
  background-color: rgba(50,50,50,0.5);
  color: #fff;
  border: solid 1px #777;
  border-radius: 0.5rem;
  padding: 0.2rem 0.8rem;
  font-size: 1.1rem;
  cursor: pointer;

  &.info {
    background-color: rgba(0,0,50,0.5);
  }

  &.success {
    background-color: rgba(0,50,0,0.5);
  }

  &.danger {
    background-color: rgba(50,0,0,0.5);
  }

  &.icon {
    padding: 0.2rem;
    font-size: 0.75rem;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 0.125rem;
  }

  &:disabled {
    color: #555;
    border: solid 1px #555;
    cursor: not-allowed;
  }

}

.button-group button {
  margin-left: 5px;
  &:first-child button{
    margin-left: 0;
  }
}

// global ===============================================
.w-100,
.full {
  width: 100%;
}
