
.splash-screen {

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;


  .splash-screen-logo {
    font-family: 'Style Script';
    font-size: 5rem;
  }

  .splash-screen-buttons {
    margin-top: 3rem;
  }


  .game-list {
    padding: 10px;
    .game-list-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: solid 1px #777;
      padding: 0.25rem;
      margin: 0.1rem 0;
    }
  }

}
