
$primaryColor: #0069B1;
$secondaryColor: #00295B;

$infoColor: #33b5e5;
$successColor: #227220;
$warningColor: #ffa501;
$dangerColor: #99241d;

$siteText: #222;
$darkText: #000;
$lightText: #fff;
$mutedText: #777;

$phone: 576px;
$tablet: 768px;
$laptop: 1000px;
$desktop: 1272px;
$desktop-hd: 1426px;

:root {
  --field-border-radius: 10px;
}